{{#if children}}
    <h1>if children></h1>
    <a class="navPages-action navPages-action-depth-max has-subMenu is-root{{#if is_active}} activePage{{/if}}"
       href="{{url}}"
       data-collapsible="navPages-{{id}}"
       aria-label="{{name}}"
    >
        {{name}}
        <i class="icon navPages-action-moreIcon" aria-hidden="true">
            <svg><use xlink:href="#icon-chevron-down" /></svg>
        </i>
    </a>
    {{> components/common/navigation-dropdown}}
{{else}}
    <a class="navPages-action navPages-action-depth-max has-subMenu is-root" href="{{url}}" data-collapsible="navPages-{{hyphenate (toLowerCase name)}}" style="width: 260px">
                        Maison de Commerce
      </a>
      <div class="navPage-subMenu navPage-subMenu-horizontal" id="navPages-{{hyphenate (toLowerCase name)}}" aria-hidden="true" tabindex="-1">
        <!-- i was here -->
        <ul class="navPage-subMenu-list">
          <li class="navPage-subMenu-item-parent">

            <a class="navPage-subMenu-action navPages-action navPages-action-depth-max" href="/maison-de-commerce/printemps-ete-22">printemps / ÉTÉ 22</a>

            <a class="navPage-subMenu-action navPages-action navPages-action-depth-max" href="/maison-de-commerce/automne-hiver-21">automne / hiver 21</a>
            
            <a class="navPage-subMenu-action navPages-action navPages-action-depth-max" href="/maison-de-commerce/accessories">accessories</a>

            <a class="navPage-subMenu-action navPages-action navPages-action-depth-max" href="/maison-de-commerce/ephemera">ephemera</a>

            <a class="navPage-subMenu-action navPages-action navPages-action-depth-max" href="/maison-de-commerce/edition-noire">edition noire</a>

            <a class="navPage-subMenu-action navPages-action navPages-action-depth-max" href="/maison-de-commerce/printemps-ete-21">Printemps / ÉTÉ 21</a>
            
            
            <a class="navPage-subMenu-action navPages-action navPages-action-depth-max" href="/maison-de-commerce/automne-hiver-20-ii">automne / hiver 20 ii</a>
            
            <a class="navPage-subMenu-action navPages-action navPages-action-depth-max" href="/maison-de-commerce/automne-hiver-20">automne / hiver 20</a>
            
        </li>
        </ul>
    </div>
{{/if}}
