---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{inject "categoryId" category.id}}
{{#partial "head"}}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            if ($(window).width() >=800 ) {
                $('.product').each(function() { //Looks for any element with the class of ProductImage.
                    var image = $(this).find('img'); // The Image inside ProductImage
                    $.ajax({
                        context: 'this',
                        url: $(this).find('a').attr('href'), // Get the URL inside the element ProductImage (product URL)
                        type: "GET", //GET METHOD
                        success: function(data) { //If successful
                        image.attr('data-image',image.attr('src'));
                        // console.dir(data)
                        const thumbnails = $(data).find('.productView-thumbnail');
                        if (thumbnails.length > 1) { //Checks to see if there is another image.
                                const targetThumb = thumbnails[1];
                                const primaryImageSrcSet = $(targetThumb).find('img').attr('data-srcset');
                                const secondaryImageSrcSet = $(targetThumb).find('img').attr('data-srcset');
                                secondarySrcArr = secondaryImageSrcSet.split(',');
                                const secondaryImageSrc = secondarySrcArr[2];
                                // var alt = image2.split(',');
                                // var altImage = alt[0].split(' = "');
                                // var secondImage = altImage[1].replace('"','').replace(/\\\//g, "/");
                                image.attr('data-alt-image',secondaryImageSrc); //Sets the second image as the alt image.
                                image.attr('data-alt-srcset',secondaryImageSrcSet); //Sets the second image as the alt image.
                            };
                        }
                    });

                    console.log($(this).parents('li'))
                    $(image).hover( //When the ProductImage is hovered show the alt image.
                        function() {
                            if(image.attr('data-alt-image')) {
                                image.attr('src',image.attr('data-alt-image'));
                                image.attr('srcset',image.attr('data-alt-srcset'));
                            };
                        },
                        function() {
                            image.attr('src',image.attr('data-image')); //Show normal image for non-hover state.
                            image.attr('srcset',image.attr('data-srcset'));

                        }
                    );

                });
            }
        });
    </script>
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
{{#if category.image}}
    {{> components/common/responsive-img
        image=category.image
        fallback_size=theme_settings.zoom_size
        lazyload=theme_settings.lazyload_mode
        class="category-header-image"
    }}
{{/if}}
{{#unless theme_settings.hide_category_page_heading }}
    <h1 class="page-heading">{{category.name}}</h1>
    {{{region name="category_below_header"}}}
{{/unless}}
{{{category.description}}}
<div class="page">
    {{#if category.faceted_search_enabled}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{else if category.subcategories}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{else if category.shop_by_price}}
        {{#if theme_settings.shop_by_price_visibility}}
             <aside class="page-sidebar" id="faceted-search-container">
                {{> components/category/sidebar}}
            </aside>
        {{/if}}
    {{/if}}

    <main class="page-content" id="product-listing-container">
        {{> components/category/product-listing}}
        {{{region name="category_below_content"}}}
    </main>
</div>

{{/partial}}
{{> layout/base}}
