---
product_results:
    limit: {{theme_settings.searchpage_products_per_page}}
---
{{inject 'categoryTree' forms.search.category_options}}
{{inject 'searchProductsPerPage' theme_settings.searchpage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.product_results.previous}}
        <link rel="prev" href="{{pagination.product_results.previous}}">
    {{/if}}
    {{#if pagination.product_results.next}}
        <link rel="next" href="{{pagination.product_results.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}

<section class="page">
    {{#if product_results.faceted_search_enabled}}
        <aside class="page-sidebar{{#if forms.search.section '!=' 'product'}} u-hiddenVisually{{/if}}" id="faceted-search-container">
            {{> components/faceted-search/index product_results}}
        </aside>
    {{/if}}
    <main class="page-content">

        <h1 role="status"
           aria-live="polite"
           class="quickSearchResultsAriaMessage aria-description"
           data-search-aria-message
        >
            {{{sanitize forms.search.query}}}
        </h1>

        <div role="tabpanel" id="search-results-content" aria-labelledby="search-results-content-count" {{#if forms.search.section '!=' 'content'}}class="u-hidden"{{/if}}>
            {{> components/search/content-listing}}
        </div>

        <div role="tabpanel" id="product-listing-container" aria-labelledby="search-results-product-count" {{#if forms.search.section '!=' 'product'}}class="u-hidden"{{/if}}>
            {{> components/search/product-listing}}
        </div>

        {{{region name="search_below_content"}}}
    </main>
</section>

{{/partial}}
{{> layout/base}}
